body{
    background-color: #393D3F;
    color: #F8988B;
    font-family: arial;
  }
body,html{
    margin:0;
    padding:0;
  .navbar{
    position: fixed;
    float: left;
    width: 200px;
    height: 100%;
    border-right: 3px solid #FFC6AA;
  }
  main{
    margin-left: 210px;
    width: (100%-200px);
    height: 100%;
  }
  header{
    font-size: 30px;
    margin-top: 10px;
  }
  p{
    margin-top: 5px;
    margin-left: 25px;
  }
  code{
    display: block;
    margin-left: 50px;
    margin-bottom: 15px;
    width: fit-content;
    background-color: #131515;
    padding: 5px;
    border-radius: 5px;
  }
  ul{
    margin-left: 25px;
  }
  .tab{
    margin-left: 25px;
  }
  .line{
    border: solid 1px #FFC6AA;
    width: (100% + 51px);
    margin-left: -50px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  nav header{
    margin-bottom: 20px;
  }
  a{
    color:#F8988B;
  }
  
  .nav-link{
    text-decoration: none;
  }
  @media (max-height:320px){
    .navbar{
      display: none;
    }
    main{
      margin-left: 0;
    }
  }
